.grid-product__price--original,
.grid-product__price{
  font-size: calc(var(--typeBaseSize)*0.85);
}
.grid-product__title {    
    text-transform: capitalize!important;
}
.grid-product__title { 
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}